<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="container"><h1>Hello world from ejs view</h1>
    </div>

    <!-- <div class="user-infor-container">
        <form method="POST" action="/users/create-user">
            <div class="container">
                <div class="row">
                    <div class="pt-3">
                        <h3>Create a new User: </h3>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4"
                        name="email"
                        required>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4"
                        name="password"
                        required>
                      </div>
                      <div class="col-12">
                        <label for="inputAddress" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                        name="username"
                        required>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>

                      </div>
                </div>
            </div>
        </form>
        
    </div> -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>